.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.chatContainer {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  flex-grow: 1;
}

.messageRow {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.spacer {
  width: 40px;
}

.message {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  background-color: #f7f8ff;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.right .message {
  background-color: #ffa500;
  color: white;
}

.text {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}
.textBubble {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  border-radius: 10px;
}

.image {
  max-width: 100%;
  border-radius: 10px;
}

.inputContainer {
  padding-left: 100px;
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  right: 0;
  background-color: #fff;
  width: auto;
  max-width: 400px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f7f8ff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.inputWrapper input {
  color: #000;
}

.iconSmall {
  width: 24px;
  height: 24px;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.sendButton {
  background-color: #0042da;
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
  padding: 30px;
}

.ratingWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f7f8ff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.ratingButton {
  background-color: #1a5fff;
  color: #fff;
}
.ratingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.ratingWrapper {
  display: flex;
  gap: 10px;
}

.ratingButton {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #1a5fff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ratingButton:hover {
  background-color: #d0d0ff;
}

.ratingButton.active {
  background-color: #ff8e21;
  color: #fff;
}
